.header {
  display: flex;
  height: 4rem;
  padding: 0.5em 1em;
  background-color: black;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 1em;
  cursor: pointer;
  transition: 0.15s ease-in;
}

.logo:hover {
  transform: scale(1.1);
  color: red;
}

.input {
  flex-basis: 100%;
  font-size: 1.2rem;
}
